﻿
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@ViewBag.title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/chart")
    @Scripts.Render("~/bundles/start")

    @ViewBag.value
    <div id="canevas">
        <header>
            <h1>Kosei 2</h1>
        </header>

        <div id="section">
            <div class="container">
                <button id="calculate">Calculate the price</button>
                <table id="resCalc" class="res" cellspacing="0"></table>

                <button id="getDelta">Get Delta</button>
                <table id="resDelta" class="res" cellspacing="0"></table>

                <button id="getGraph">Get Graph</button>
                <div id="resGraph"></div>

                <div>
                    <canvas id="graph" height="450" width="600"></canvas>
                </div>
            </div>
        </div>

        <footer>
            <div>ENSIMAG - Groupe 3</div>
        </footer>
    </div>
</body>
</html>
